 body
{
    margin: 15px;
    padding: 15px;
    background:url('background/bank2.jpg');
    font-size: 16px;
    color: #777;
    font-family: sans-serif;
    font-weight: bold;
	overflow-x:hidden;
}

table{
	width:1300px;
	margin-left:100px;
	margin-right:100px;
	text-align:center;
	
	color:black;
	
}
 
 tr{
	   
	   color:black;
	   text-align:center;
	   border: none
	   
	   }
	   
	   th{
	   
	   color:black;
	   text-align:center;
	   border: none
	   
	   }
	 
	 td:hover
	 {
	 color:white;
	 border: none;
	 background-color: darkorange;
     transition: all 0.5s ease-in;
	 }
	 
	 
	 #spe1{
	  background-color: green;
	 color:white;
	 font-size:20px;
	 border: none;
	 text-layout:fixed;
	 
	 }
	 
	 a{
	    font-size:15px;
		color:black;
		
		
	 }
	 

.avatar{
    width: 200px;
    height: auto;
}

.img{
    width: 300px;
    height: auto;
	position: relative;
    left: calc(45% - 50px);
}